@use '../../index' as v;

img {
    filter: drop-shadow(5px 5px 5px #222); 
}

.home__content {
    grid-template-columns: 50% repeat(1,1fr);
    column-gap: 1.25rem;
    align-items: center;

    @media screen and (min-width: v.$x-large) {
        margin-top: 6rem;
    }
}

.home__content {
    height: 100%;

    .home__intro {
        font-size: var(--h1-font-size);
    }

    span {
        color: var(--orange);
    }

    .home__description {
        margin: 3rem 0;
    }
}

.home__image {
    padding-top: 5rem;
    width: 220px;
    height: 220px;
}

.home__logo {
    font-size: var(--big-font-size);;
}

.home__button {
    bottom: 0;
}