@use '../../index' as v;
.recipe__buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;

    .recipe__button {
        font-size: 1.25rem;
        background: transparent;
        color: var(--orange);
    }
}

.recipe__wrapper {
    display: flex;
    flex-direction: row;
    margin: 2rem 0;

    .recipe__details {
        width: 60%;
        max-width: 80%;
        display: flex;
        flex-direction: row;

        .recipe__subtitle {
            font-size: var(--h3-font-size);
            font-weight: var(--font-bold);
            margin-bottom: 1rem;
            color:var(--charcoal-light);
        }

        .recipe__info {
            width: 40%;
            margin: 0 1rem;

            i {
                color: var(--orange);
            }
            
            ul {
                margin: 1rem 0;
            }

            .recipe__label {
                font-weight: var(--font-bold);
            }
        }
        
        .recipe__instructions {
            width: 60%;

            ol {
                margin: 1rem 0;
                padding-left: 1rem;

                li {
                    padding-bottom: .5rem;
                }
            }
        }
    }

    .recipe__image {
        width: 40%;
        padding-right: 1rem;
        img {
            border-radius: 2rem;
        }
    }

    @media screen and (max-width: v.$medium) {
        flex-direction: column;
        align-items: center;

        .recipe__image {
            padding-right: 0;
            margin-bottom: 2rem;
            width: 80%;
        }

        .recipe__details {
            max-width: 100%;
            width: 100%;

            .recipe__info {
                margin: 0;
                width: 50%;
            }

            .recipe__instructions {
                width: 50%;
            }
        }
    }

    @media screen and (max-width: v.$small) {
        flex-direction: column;
        align-items: center;

        .recipe__image {
            padding-right: 0;
            margin-bottom: 1rem;
            width: 100%;
        }

        .recipe__details {
            max-width: 100%;
            width: 100%;
            flex-direction: column;
            align-items: center;

            .recipe__info {
                margin: 0;
                width: 100%;
                
                ul {
                    margin: 0;
                }

                ul li {
                    padding-bottom: .5rem;
                }
            }

            .recipe__instructions {
                width: 100%;
                padding-left: 1rem;
            }
        }
    }
}