@use "../../index" as v;
.primary {
  cursor: pointer;
}

.create__wrapper {
  display: flex;
  flex-direction: row;
  margin: 2rem 0;

  .create__details {
    width: 60%;
    max-width: 80%;
    display: flex;
    flex-direction: row;

    .create__subtitle {
      font-size: var(--h3-font-size);
      font-weight: var(--font-bold);
      margin-bottom: 1rem;
      color: var(--charcoal-light);
    }

    .create__info {
      width: 40%;
      margin: 0 1rem;

      i {
        color: var(--orange);
      }

      ul {
        margin: 1rem 0;
      }

      .create__label {
        font-weight: var(--font-bold);
      }
    }

    .create__instructions {
      width: 60%;

      ol {
        margin: 1rem 0;
        padding-left: 1rem;

        li {
          padding-bottom: 0.5rem;
        }
      }
    }
  }

  .create__image {
    width: 40%;
    padding-right: 1rem;
    img {
      border-radius: 2rem;
    }
  }

  @media screen and (max-width: v.$medium) {
    flex-direction: column;
    align-items: center;

    .create__image {
      padding-right: 0;
      margin-bottom: 2rem;
      width: 80%;
    }

    .create__details {
      max-width: 100%;
      // width: 100%;
      width: 70%;

      .create__info {
        margin: 0;
        width: 50%;
      }

      .create__instructions {
        width: 70%;
      }
    }
  }

  @media screen and (max-width: v.$small) {
    flex-direction: column;
    align-items: center;

    .create__image {
      padding-right: 0;
      margin-bottom: 1rem;
      width: 100%;
    }

    .create__details {
      max-width: 100%;
      // width: 100%;
      flex-direction: column;
      align-items: center;

      .create__info {
        margin: 0;
        width: 100%;

        ul {
          margin: 0;
        }

        ul li {
          padding-bottom: 0.5rem;
        }
      }

      .create__instructions {
        width: 100%;
        padding-left: 1rem;
      }
    }
  }
}
