@use '../../index' as v;

footer {
    background-color: var(--charcoal);
    border-top: 1px solid rgba(0,0,0,0.1);
    height: 142px;
    color: var(--white);
    width: 100%;
    display: grid;
    place-items: center;
    position: absolute;
    bottom: 0;

    nav {
        display: none;
    }

    .footer__copy {
        text-align: center; 

        @media screen and (max-width: v.$medium) {
            margin-top: 0;
        } 
    }

    @media screen and (max-width: v.$medium) {
        display: flex;
        background-color: var(--white);
        border-top: none;
        position: sticky;
        height: 6rem;

        .desktop {
            display: none;
        }

        nav {
            background-color: var(--orange);
            display: flex;
            justify-content: center;
            align-self: flex-start;
            height:auto;
            width: 100%;
            position: relative;
            top: 0;
            border-radius: 1rem;
            font-size: 1rem;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);

            ul {
                display: flex;
                padding: 0;
                margin: 0;
            }

            li {
                flex: 1;
            }

            a {
                display: block;
                text-align: center;
                padding: 1rem;
            }

            .visually-hidden {
                display: none;
            }
        }
    } 
}